# Cache files
node_modules/
/dist/
.angular/
.angular/cache/

# Angular development files
*.log
*.pid
*.lock

# IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Environment configuration files
/src/environments/*.js
/src/environments/*.js.map