ion-header{
    ion-toolbar {
        --background: #FFFFFF;
    }
    ion-fab-button {
        --border-radius: 10px;
        --box-shadow: 0px 1px 2px 0px rgba(0,0,0,.3), 0px 1px 3px 1px rgba(0,0,0,.15);
        --color: black;
    }

    .logo {
        padding-right: 6px;
        img {
            background: #FFFFFF;
            padding: 10px;
            border-radius: 5px;
        }
    }
    
}
ion-content {
    font-family: 'Roboto', sans-serif; 
    position: absolute;
    --background: #ffffff;

    .icon {
        margin: 40px 10px;
        align-items: center;
        display: flex;
        flex-direction: column;
        
        img {
            height: 250px;
            width: 250px;
            margin-top: 70px;
        }
    }

    .padding {
        padding: 0px 25px;
        justify-content: center;
        text-align: right;
        display: flex;
        flex-direction: column;
        
        .title{
            align-items: center;
            display: flex;
            flex-direction: column;

            ion-row{
                .lbl-1 {
                    font-weight: 500;
                    font-size: xx-large;
                    text-align: center;
                }
    
                .lbl-2 {
                    padding: 20px 0px;
                    font-weight: 400;
                    text-align: center;
                    font-size: small;
                }
            }

        }


        .footer{
            align-items: center;
            display: flex;
            flex-direction: column;

            ion-button{
                ion-label {
                    color: white;
                    font-weight: 500;
                    font-size: 16px;
                }
            }

        }


    }

    ion-label {
        color: var(--ion-color-primary);
    }

    ion-icon {
        color:#C4C5C5;
        margin-right: 10px;
    }
    ion-input, ion-text {
        font-weight: 400;
        font-size: 12px;
    }
    ion-item {
        --background: #ECECEC;
        border-style: none;
        border-radius: 12px;
        height: 50px;
    }

    ion-button {
        padding-top: 0;
        padding-bottom: 0;
        height: 48px;
        width: 350px;
        --border-radius: 25px;

        ion-label {
            color: white;
            font-weight: 700;
            font-size: 18px;
        }
    }

    .bottom {
        position:relative;
        top: 100%;
        transform: translateY(-100%);
        width: 100%;

        img {
            width: 100%;
            max-height: 138px;
        }
    }

    .error {
        font-size: 0.7rem !important;
    }
}