ion-content {
    font-family: 'Roboto', sans-serif; 
    --background: #ffffff;

    ion-label {
        color: var(--ion-color-primary);
    }
    ion-icon {
        color:#C4C5C5;
        margin-right: 10px;
    }
    ion-input, ion-text {
        font-weight: 400;
        font-size: 12px;
    }
    ion-item {
        --background: #ECECEC;
        border-style: none;
        border-radius: 12px;
        height: 50px;
    }
    ion-button {
        padding-top: 0;
        padding-bottom: 0;
        height: 48px;
        --border-radius: 25px;

        ion-label {
            color: white;
            font-weight: 500;
            font-size: 16px;
        }
    }

    .padding {
        padding-left: 40px;
        padding-right: 40px;

        .title {
            padding-top: 50px;
            padding-bottom: 5px;

            .lbl-1 {
                font-weight: 500;
                font-size: 36px;
            }
            .lbl-2 {
                font-weight: 400;
                font-size: 18px;
            }
            .lbl-3 {
                font-weight: 700;
                font-size: 12px;
            }
            .lbl-4 {
                font-weight: 400;
                font-size: 16px;
            }
        }

        .login-image {
            margin: 40px 10px;
            display: block;
            align-items: center; 
            display: flex;
            flex-direction: column;
    
            ion-img{
                width: 250px;
                width: 250px;    
            }
    
        }
    }

    .error {
        font-size: 0.7rem !important;
    }

    .footer {
        position:relative;
        margin-bottom: 0;
    }
}