/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// @import 'swiper/css/bundle';

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rosario:wght@400;500;700&display=swap');

* {
    font-family: 'Comfortaa', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.swiper-pagination {
    width: 50% !important;
    left: 25% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
}

.swiper-pagination-bullet {
    background-color: var(--ion-color-medium) !important;    
}


ion-action-sheet.my-custom-class {
    --background: #C6C6C6;
    --backdrop-opacity: 0.6;
    --button-background-selected: #e97223;
    --button-color: #000000;
    --color: #fff;
    /* role: "destructive" button iOS styling override */
    --ion-color-danger: #000000;
}

.shareModal {    
    --border-radius: 20px 20px 0px 0px;
    --backdrop-opacity: 1;
    backdrop-filter: blur(1px);

    &::part(backdrop) {
        background: transparent;
    }

    &::part(handle) {
        background: var(--ion-color-primary);
        width: 102px;
        height: 6px;
        margin-top: 10px;        
    }

    &::part(content) {                
        box-shadow: 0px 0px 20px 5px rgb(0 0 0 / 20%);        
    }
}

ion-button {
    text-transform: none;
}    