<ion-content [fullscreen]="true">

    <!-- <div class="signup-image atas">
        <img src="./assets/auth-screens/thumbnails.png" />
    </div> -->

    <div class="padding">
        <div class="title">
            <ion-row class="ion-justify-content-center">
                <ion-label class="lbl-1">Pendaftaran Anggota</ion-label>
            </ion-row>
            <ion-row class="ion-justify-content-center">
                <ion-label class="lbl-2">Keseluruhan informasi yang diminta harus diisi secara lengkap untuk menyelesaikan proses pendaftaran.</ion-label>
            </ion-row>
        </div>

        <form [formGroup]="form">
            <div class="ion-margin-vertical">
                <ion-row class="rowtitle">
                    <ion-label class="lblket">Nama Lengkap <b>*</b></ion-label>
                </ion-row>
                <ion-item lines="none">
                    <ion-input formControlName="full_name" type="text" placeholder="Full Name"></ion-input>
                </ion-item>
                <ion-text color="danger" *ngIf="!form.get('full_name')?.valid && form.get('full_name')?.touched">
                    <ion-text class="error" *ngIf="form.get('full_name')?.hasError('required')">
                        * Please enter your full name
                    </ion-text>
                </ion-text>
            </div>

            <div class="ion-margin-vertical">
                <ion-row class="rowtitle">
                    <ion-label class="lblket">No KTP <b>*</b></ion-label>
                </ion-row>
                <ion-item lines="none">
                    <ion-input formControlName="noktp" type="number" placeholder="No KTP"></ion-input>
                </ion-item>
                <ion-text color="danger" *ngIf="!form.get('noktp')?.valid && form.get('noktp')?.touched">
                    <ion-text class="error" *ngIf="form.get('noktp')?.hasError('required')">
                        * Please enter your no KTP
                    </ion-text>
                </ion-text>
            </div>

            <div class="ion-margin-vertical">
                <ion-row class="rowtitle">
                    <ion-label class="lblket">Tanggal Lahir <b>*</b></ion-label>
                </ion-row>
                <ion-item lines="none">
                    <ion-input formControlName="tanggal" type="date" placeholder="Tanggal"></ion-input>
                </ion-item>
                <ion-text color="danger" *ngIf="!form.get('tanggal')?.valid && form.get('tanggal')?.touched">
                    <ion-text class="error" *ngIf="form.get('tanggal')?.hasError('required')">
                        * Please enter your date of birth
                    </ion-text>
                </ion-text>
            </div>

            <div class="ion-margin-vertical">
                <ion-row class="rowtitle">
                    <ion-label class="lblket">Jenis Kelamin <b>*</b></ion-label>
                </ion-row>
                <div class="bgselect">
                    <ion-select formControlName="jenkel" class="custom-select" placeholder="Jenis Kelamin">
                      <ion-select-option value="option1">Laki-laki</ion-select-option>
                      <ion-select-option value="option2">Wanita</ion-select-option>
                    </ion-select>
                  </div>
                <ion-text color="danger" *ngIf="!form.get('jenkel')?.valid && form.get('jenkel')?.touched">
                    <ion-text class="error" *ngIf="form.get('jenkel')?.hasError('required')">
                        * Please select gender
                    </ion-text>
                </ion-text>
            </div>

            <div class="ion-margin-vertical">
                <ion-row class="rowtitle">
                    <ion-label class="lblket">Nomor HP <b>*</b></ion-label>
                </ion-row>
                <ion-item lines="none">
                    <ion-input formControlName="nohp" type="number" placeholder="Number Phone"></ion-input>
                </ion-item>
                <ion-text color="danger" *ngIf="!form.get('nohp')?.valid && form.get('nohp')?.touched">
                    <ion-text class="error" *ngIf="form.get('nohp')?.hasError('required')">
                        * Please enter your Number Phone
                    </ion-text>
                </ion-text>
            </div>

            <div class="ion-margin-vertical">
                <ion-row class="rowtitle">
                    <ion-label class="lblket">Password <b>*</b></ion-label>
                </ion-row>
                <ion-item lines="none">
                    <ion-icon name="lock-closed" slot="start">
                    </ion-icon>
                    <ion-icon [name]="type ? 'eye' : 'eye-off'" slot="end" (click)="changeType()">
                    </ion-icon>
                    <ion-input formControlName="password" [type]="type ? 'password' : 'text'" placeholder="Password">
                    </ion-input>
                </ion-item>
                <ion-text color="danger" *ngIf="!form.get('password')?.valid && form.get('password')?.touched">
                    <ion-text class="error" *ngIf="form.get('password')?.hasError('required')">
                        * Please enter your password
                    </ion-text>
                    <ion-text class="error" *ngIf="!form.get('password')?.hasError('required') && form.get('password')?.hasError('minlength')">
                        * Please enter a password of atleast 8 characters long
                    </ion-text>
                </ion-text>
            </div>

            <div class="ion-margin-vertical">
                <ion-row class="rowtitle">
                    <ion-label class="lblket">Confirm Password<b>*</b></ion-label>
                </ion-row>
                <ion-item lines="none">
                    <ion-icon name="lock-closed" slot="start">
                    </ion-icon>
                    <ion-icon [name]="type ? 'eye' : 'eye-off'" slot="end" (click)="changeType()">
                    </ion-icon>
                    <ion-input formControlName="confirm_password" [type]="type ? 'password' : 'text'" placeholder="Confirm Password">
                    </ion-input>
                </ion-item>
                <ion-text color="danger" *ngIf="!form.get('confirm_password')?.valid && form.get('confirm_password')?.touched">
                    <ion-text class="error" *ngIf="form.get('confirm_password')?.hasError('required')">
                        * Please enter your confirm password
                    </ion-text>
                    <ion-text class="error" *ngIf="!form.get('confirm_password')?.hasError('required') && form.get('confirm_password')?.hasError('minlength')">
                        * Please enter a confirm password of atleast 8 characters long
                    </ion-text>
                </ion-text>
            </div>

        </form>

        <div class="termsncondit">
            <div class="custom-checkbox" (click)="toggleCheckbox()">
                <input type="checkbox" [checked]="isChecked" />
                <label>{{ checkboxLabel }}</label>
            </div>     
        </div>


        <div class="footer">
            <ion-button expand="block" color="primary">
                <ion-label (click)="onLogin()">Sign Up</ion-label>
            </ion-button>
            
            <p class="ion-text-center">
                <ion-label class="lbl-4">Sudah memiliki akun?<b (click)="ontxtLogin()"> Log In</b></ion-label>
            </p>
        </div>
        
    </div>

</ion-content>